.App {
    text-align: center;
}

.Color {
    color: red;
}

.Font {
    font-weight: bold;
}

.AppButton{
    background-color: blue;
    color: wheat;
    padding: 10px;
    margin: 10px;
}

.AppButton:hover{
    background-color: yellow;
    color: black;
}
